a,p,span,th,tdanima{
    font-family: 'PT Sans', sans-serif;
}
th{
    color: #243c88;
}
ul{
    list-style: none;
}
header{
    background:#243c88;
}
.navr{
    margin-top: 50px;
    /* padding-left: 20px; */
}
.navr li a{
    padding: 15px;
    transition:all 0.5s linear;
}
.navr li:hover a{
    background:white;
    color:#243c88 !important;
}
.navr li a{
    color:white;
}
.bodywhite{
    background:white;
}
.bodyfooter{
    background:#24292e;
}
table{
    font-size: 14px;
    text-align: center;
}
table ul{
    list-style:circle;
}
footer{
    color:white;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 10px;
}
h3{
    font-family: 'Acme', sans-serif;
    margin:15px 0;
    background-image: url("../img/border.png");
    background-size: cover;
    color:white;
    padding: 5px;
    border-radius: 5px;
}